.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: absolute;
    height: 6rem;
    z-index: 100;
}
.navbar-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    margin-top: 1rem;
}

.navbar-cont h1{
    font-family: 'Lucida Handwriting', cursive;
    font-size: 2rem;
}

.baricon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}